/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
 