<!-- list.component.html -->
<div class="container">
  <div class="tobuy-app">
    <h2>Groza <img src="assets/icon.png" alt="Логотип"></h2>

    <app-add-item (itemAdded)="onItemAdded($event)"></app-add-item>

    <ul id="list-container">
      <app-item 
        *ngFor="let item of items" 
        [item]="item"
        (toggle)="toggleBought($event)"
        (delete)="deleteItem($event.item, $event.event)">
      </app-item>
    </ul>

    <!-- Добавляем AI помощник -->
    <app-ai-helper (itemAdded)="onItemsAdded($event)"></app-ai-helper>
  </div>

  <div class="footer">
    <p>Groza &copy; 2025</p>
    <p>Сделано с ❤️ в Groza</p>
  </div>
</div>